$BorderColor: rgb(148, 145, 145);
$BackgroundColor: rgb(34, 31, 31);
$ButtonBackground: rgb(65, 61, 61);
$HoverBackground: rgb(187, 179, 179);
$HoverColor: rgb(48, 46, 46);
body {
  background: $BackgroundColor;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px auto 0 auto;
}

th {
  font-family: "Girassol", cursive;
  font-size: 30px;
  border: 2px solid $BorderColor;
  :first-child {
    border-radius: 10px 0 0 0;
  }
}

td {
  border: 2px solid $BorderColor;
  margin: 0;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 28px;
  font-weight: bold;
}

p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

button {
  font-family: "Girassol", cursive;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  border: 2px solid $BorderColor;
  background: $ButtonBackground;
  border-radius: 20px;
  color: white;
  &:hover {
    background: $HoverColor;
    cursor: pointer;
  }
}
